__pycache__/
*.pyc
.venv/
.env
/data/raw/
/data/processed/
/results/
/mlruns/
/wandb/
.DS_Store
/logs/
/data/downloads/
/external/
caliburn-s3-key.pem
results/_dryrun/
paper/main.aux
paper/main.log
paper/main.out
paper/main.blg
packages/arxiv_v3/src/main.bbl

results/score_dumps/
